*{
    box-sizing: border-box;
    margin:0%
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

main{
    margin: 1em;
}

h1{
    text-align: center;
    background-color: gray;
    color: white;
    padding-top: 1em;
    padding-bottom: .5em;
}

h2{
    margin-top: 2em;
    margin-bottom: .5em;
}


form{
    display: flex;
}

/* 
Not sure if I should use fieldset
fieldset{
    width: 100%;
} */

input{
    color: gray;
    width:  17em;
    height: 1.5em;
    font-size: 1em;
    margin-right: auto;
    
    /* margin-left:auto;   */
     /*first input should begin at the same spot as h2 heading. look up flex/flexbox*/
    
}

button{
    background-color: gray;
    color: white;
    margin-top: 15px;
    height: 2em;
    width: 10em;
    float: right; 
    display: inline;
    border-radius: 5px;
    font-size: 1em;

  
    /*Float move the button to the right but the table moves up.  */


}

/* I originally tried to select the button by using the id but was unable to do so. Unsure why.  */


table{
    margin-top: 1.5em;
    width: 100%;
    table-layout: fixed; /* TODO decide if I should change to auto or leave fixed based on how employee data appears when appended*/
    
}

thead{
    background-color: darkgray;
}


table, th, tr{
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    padding: .5em;
  }


tfoot {
    height: 2em;
    background-color: lightgray;
}
  /* TODO- make sure table and button size matches the input size */

  p{
    margin-top: 1em;
    float: right;
    font-size: 1.5em;
  }